@model ProjektHaushaltsbuch.Models.ExpenseModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExpenseModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subcategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subcategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBusinessExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBusinessExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiptNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiptNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRecurring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRecurring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecurrencePattern)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecurrencePattern)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentRecurringExpenseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentRecurringExpenseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentUrls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttachmentUrls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPlanned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPlanned)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
